* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

/* h3 {
  color: #f94f6d;
} */
.container {
  margin: 33px auto;
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  width: 575px;
  height: 385px;
  top: -678px;
  left: -1996px;
  gap: 0px;
  opacity: 0px;
  align-items: center;
  text-align: center;
  border-radius: 9px;
}

.home-score,
.gest-score {
  width: 130px;
  height: 120px;
  /* gap: 0px; */
  border-radius: 7px;
  opacity: 0px;
  background-color: black;
  color: #f94f6d;
  font-size: 50px;
  margin: 15px;
  /* padding: auto; */
}

.score-text {
  width: 117px;
  height: 120px;
  top: 125px;
  left: 355px;
  gap: 0px;
  opacity: 0px;
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 120px;
  text-align: center;
}

.home-div,
.gest-div {
  margin: 0px 0px;
}

.ops {
  width: 155px;
  height: 55px;
  margin-right: 0px;
  margin-left: 7px;
  margin-top: 26px;
  display: flex;
  top: 271px;
  left: 82px;
  padding-right: 28px;
  padding-left: 0px;
}

.ops > button {
  width: 45px;
  height: 45px;
  margin: 3px;
  background-color: transparent;
  border: 2px solid rgb(219, 219, 219);
  font-size: 18px;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
}

.operate > button:active {
  background-color: rgba(255, 255, 255, 0.275);
}

button {
  color: aliceblue;
}
